<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>My Angular App</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="about-me.component.scss">
</head>


<body>

    <nav (swipe)="onSwipe($event)">

        <section>
            <div class="img-div">
                <img src="../../../assets/images/photo/myphoto2.jpg" alt="my photo">
            </div>

            <div class="cover-txt">
                <h2>ABOUT ME</h2>

                <div class="about-me-txt">
                    <p>Olá! Meu nome é <span>Henzo Schumann</span> e sou um desenvolvedor em transição para a área de
                        Inteligência
                        Artificial. Atualmente, trabalho como desenvolvedor front end na IBM, prestando consultoria para
                        o
                        Banco Santander. Com uma paixão crescente por IA, estou empenhado em aplicar técnicas avançadas
                        de
                        machine learning e deep learning em projetos inovadores.</p>

                    <p>Sou formado em Sistemas de Informação pela FIAP e atualmente estou cursando uma pós-graduação em
                        Desenvolvimento com Inteligência Artificial, também na FIAP. Minha formação acadêmica me
                        proporcionou uma base sólida tanto em desenvolvimento de software quanto em inteligência
                        artificial.
                    </p>

                    <p>Atualmente, trabalho na IBM, onde presto consultoria para o Banco Santander, desenvolvendo
                        soluções
                        front end para projetos financeiros. Anteriormente, trabalhei na TecBan, focado no
                        desenvolvimento
                        de uma geradora de cartões e serviços financeiros. Essas experiências me ensinaram a importância
                        de
                        criar soluções eficientes e seguras para o setor financeiro.</p>

                    <p>Adoro comunicação e estou sempre buscando formas de apresentar conceitos técnicos de maneira
                        clara e
                        acessível. Sou entusiasta de esportes e amo viajar, o que me ajuda a manter uma perspectiva
                        equilibrada e a inspirar novas ideias. Além disso, estou constantemente estudando sobre o mundo
                        da
                        IA para me manter atualizado com as últimas tendências e inovações.</p>
                </div>
            </div>
        </section>

        <section class="arrow-section">
            <fa-icon (click)="goToHome()" class="arrow" [icon]="faArrowLeft"></fa-icon>
            <fa-icon (click)="goToExperiences()" class="arrow" [icon]="faArrowRight"></fa-icon>
        </section>
    </nav>

</body>

</html>