<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>My Angular App</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.component.scss">
</head>


<body>

    <section>
        <div class="img-div">
            <img src="https://as1.ftcdn.net/v2/jpg/05/32/12/40/1000_F_532124042_pOVY4LEqJTi3rfenf7oerEBSMTuJEplj.jpg"
                alt="cover img">
        </div>

        <div class="cover-txt" (swipe)="onSwipe($event)">
            <h2>PORTIFOLIO</h2>
            <h2 class="my-name">HENZO SCHUMANN</h2>
            <fa-icon (click)="goToAboutMe()" class="arrow" [icon]="faArrowRight"></fa-icon>
        </div>
    </section>

</body>

</html>