<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>My Angular App</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="experiences.component.scss">
</head>


<body>
    <nav (swipe)="onSwipe($event)">

        <section>
            <h1>ACADEMIC</h1>

            <div class="academic-div">
                <img class="img-fiap" src="../../../assets/images/logos/fiap.png" alt="logo fiap">
                <div>
                    <h5>Bachelor's Degree in Information Systems [2022]</h5>
                    <h5>Postgraduate in Development with AI [2024]</h5>
                </div>
            </div>
        </section>

        <section class="section-professional">
            <h1>PROFESSIONAL</h1>
            <section>

                <div class="academic-div">
                    <img class="img-tb" src="../../../assets/images/logos/tecban.png" alt="logo tecban">
                    <h5>IT ANALYST [2019 - 2022]</h5>
                </div>

                <div class="academic-div">
                    <img class="img-ibm" src="../../../assets/images/logos/ibm.png" alt="logo ibm">
                    <h5>FRONT-END DEVELOPER [2022 - ]</h5>
                </div>

            </section>
        </section>

        <section class="arrow-section">
            <fa-icon (click)="goToAboutMe()" class="arrow" [icon]="faArrowLeft"></fa-icon>
            <fa-icon (click)="goToProjects()" class="arrow" [icon]="faArrowRight"></fa-icon>
        </section>
    </nav>


</body>

</html>