<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>My Angular App</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="experiences.component.scss">
</head>


<body>
    <section>
        <h1>ACADEMIC</h1>

        <img class="img-fiap" src="../../../assets/images/logos/fiap.png" alt="logo fiap">
        <h5>INFORMATION SYSTEMS</h5>
        <h5>AI FOR DEVS</h5>
    </section>

    <section class="section-professional">
        <h1>PROFESSIONAL</h1>

        <img class="img-tb" src="../../../assets/images/logos/tecban.png" alt="logo tecban">
        <h5>IT ANALYST</h5>

        <img class="img-ibm" src="../../../assets/images/logos/ibm.png" alt="logo ibm">
        <h5>FRONT-END DEVELOPER</h5>

    </section>

    <section class="arrow-section">
        <fa-icon (click)="goToAboutMe()" class="arrow" [icon]="faArrowLeft"></fa-icon>
        <fa-icon (click)="goToCertifications()" class="arrow" [icon]="faArrowRight"></fa-icon>
    </section>


</body>

</html>