/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Gotham-Medium';
    src: url('./assets/fonts/Gotham-font-family/Gotham/Gotham-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('./assets/fonts/Gotham-font-family/Gotham/Gotham-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    font-family: 'Gotham-Light', sans-serif;
    margin: 0;
    padding: 0;
}